<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Controle_gastos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h2>Seja bem vindo!</h2>

    <p> Agora são:  {{ now }}  </p>

    <ul>
    {% for transacao in transacoes %}

        {% if transacoa == "t1" %}
            <li><b>{{ transacao }}</b></li>
        {% else %}
            <li>{{ transacao }}</li>
        {% endif %}
        
    {% endfor %}
    </ul>
</body>
</html>